.li_1 {
    list-style: none;
}

.li_2 {
    list-style: none;
}

form::before{
    content: " ";
    position: absolute;
    background: url('./Images/IMG_2_DA_01.jpg') no-repeat center center/cover;
    opacity: 0.7;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

#Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    padding: 6px;
    margin: 9px 8px;
}

.text{
    border-radius: 6px;
}

#submit{
    background-color:rgb(224, 203, 213);
    border-radius: 6px;
    cursor: pointer;
}

#submit:hover{
    scale: 0.8;
    background-color: rgb(218, 112, 202);
}